<header>
  <div class="container">
    <a routerLink="/" class="app-logo">Online Food</a>
    <nav>
      <ul>
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li class="menu-container">
          <a routerLink="/dashboard">Valli</a>
          <div class="menu">
            <a routerLink="/profit">Profile</a>
            <a routerLink="/orders">Orders</a>
            <a routerLink="/logout">Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">Cart <span>3</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
